
<center>
    <h1>sign in</h1>
</center>


<center>
  <div  class="card" style=" border: 1px white;justify-content: center;">

        <form action="/admin"     method="post">
    <div style="padding: 20px 20px 20px 20px; ">
         
           <input  placeholder="name please"  style="margin-bottom: 5px;width: 500px; padding:3px 3px 3px 3px; " name="username">
          <br>
            <input placeholder="password" style=" margin-bottom: 5px;;align-items: flex-start; width: 500px;" for="password">
            <br>
            <input class="btn btn-primary"  type="submit" value="Submit">
        
          </div>  
        </form>
    </div>
  
</center>
  <center>
    <h1>register</h1
  </center>

<form  action="/register" method="post">
    <div class="card" style="border: 4px ; border-color: black;">
      <center>
        <input placeholder="name please" style="width: 500px; align-content: center; display: flex;" name="username">
        <br>
            
        <input placeholder="password"  style="width: 500px;margin-bottom: 5px;" name="password">
        <br>
        <input class="btn btn-primary" style="width: 500px;" type="submit" value="Submit">
      </center>
   
    </div>
    

