.bg-offer{
    background-image: src("C:\Users\91913\Desktop\MONGO DB\MERN PROJECT\frontend\src\components\banneroffer.png");

height: 50px;
width: 9px;
background-size: cover;
background-position: center;
}